body{
    height: 100vh;
}

main {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    transition: transform .5s;
    font-weight: 300;
}

.link svg {
    height: 2rem;
}

.link:hover {
    transform: scale(1.2);
}